@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<div>
    <div class="max-w-xl">
        <h1 class="mb-4 text-2xl font-semibold text-gray-900 dark:text-gray-100">
            @ViewData["Title"]
        </h1>
        <div>
            @await Html.PartialAsync("_StatusMessage", Model.StatusMessage)
        </div>
        <div class="shadow overflow-hidden sm:rounded-md">
            <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post" class="px-4 bg-white dark:bg-black sm:p-6">
                <div asp-validation-summary="All" class="text-danger text-center font-semibold"></div>
                <div class="flex flex-col gap-y-4">
                    <div>
                        <label asp-for="Input.OldPassword" class="block text-sm font-medium text-gray-700 dark:text-gray-300"></label>
                        <div class="mt-1 relative">
                            <input type="password" class="@Css.InputText" asp-for="Input.OldPassword" spellcheck="false">
                        </div>
                        <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="Input.NewPassword" class="block text-sm font-medium text-gray-700 dark:text-gray-300"></label>
                        <div class="mt-1 relative">
                            <input type="password" class="@Css.InputText" asp-for="Input.NewPassword" spellcheck="false">
                        </div>
                        <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="Input.ConfirmPassword" class="block text-sm font-medium text-gray-700 dark:text-gray-300"></label>
                        <div class="mt-1 relative">
                            <input type="password" class="@Css.InputText" asp-for="Input.ConfirmPassword" spellcheck="false">
                        </div>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div>
                        <button type="submit" class="@Css.PrimaryButton">Update password</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
