@page
@model SetPasswordModel
@{
    ViewData["Title"] = "Set password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h3 class="@Css.H3">Set your password</h3>

<div class="max-w-xl">
    <partial name="_StatusMessage" for="StatusMessage" />

    @await Html.PartialAsync("AlertInfo", @"You do not have a local username/password for this site. 
        Add a local account so you can log in without an external login.")

    <div class="mt-3 shadow overflow-hidden sm:rounded-md">
        <div class="px-4 bg-white dark:bg-black sm:p-6">
            <form id="set-password-form" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger text-center font-semibold" role="alert"></div>

                <div class="flex flex-col gap-4">
                    <div>
                        <label asp-for="Input.NewPassword" class="@Css.LabelClasses"></label>
                        <div class="mt-1 relative">
                            <input asp-for="Input.NewPassword" class="@Css.InputText" autocomplete="new-password" placeholder="Please enter your new password." />
                        </div>
                        <span asp-validation-for="Input.NewPassword" class="mt-2 text-danger text-sm"></span>
                    </div>
                    <div>
                        <label asp-for="Input.ConfirmPassword" class="@Css.LabelClasses"></label>
                        <div class="mt-1 relative">
                            <input asp-for="Input.ConfirmPassword" class="@Css.InputText" autocomplete="new-password" placeholder="Please confirm your new password." />
                        </div>
                        <span asp-validation-for="Input.ConfirmPassword" class="mt-2 text-danger text-sm"></span>
                    </div>
                    <div>
                        <button type="submit" class="@Css.PrimaryButton">Set password</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
