@page
@model LoginWithRecoveryCodeModel
@{
    ViewData["Title"] = "Recovery code verification";
}

<div class="mt-8 mx-auto max-w-lg">
    <h1 class="@Css.H1">@ViewData["Title"]</h1>

    <p class="my-4">
        You have requested to log in with a recovery code. This login will not be remembered until you provide
        an authenticator app code at log in or disable 2FA and log in again.
    </p>
    <div class="mt-3 shadow overflow-hidden sm:rounded-md">
        <div class="px-4 bg-white dark:bg-black sm:p-6">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="mb-3 text-danger text-center font-semibold" role="alert"></div>
                <div class="flex flex-col gap-y-4">
                    <div>
                        <label asp-for="Input.RecoveryCode" class="@Css.LabelClasses"></label>
                        <div class="mt-1 relative">
                            <input asp-for="Input.RecoveryCode" class="@Css.InputText" autocomplete="off" placeholder="RecoveryCode" />
                        </div>
                        <span asp-validation-for="Input.RecoveryCode" class="mt-2 text-danger text-sm"></span>
                    </div>
                    <div>
                        <button type="submit" class="@Css.PrimaryButton">Log in</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}