@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}

<div class="mt-8 mx-auto max-w-lg">
    <h1 class="mb-4 @Css.H1">Reset password</h1>
    <h2 class="@Css.H2">Reset your password.</h2>

    <div class="mt-3 shadow overflow-hidden sm:rounded-md">
        <div class="px-4 bg-white dark:bg-black sm:p-6">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger text-center font-semibold" role="alert"></div>
                <input asp-for="Input.Code" type="hidden" />

                <div class="flex flex-col gap-y-4">
                    <div>
                        <label asp-for="Input.Email" class="@Css.LabelClasses"></label>
                        <div class="mt-1 relative">
                            <input asp-for="Input.Email" class="@Css.InputText" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                        </div>
                        <span asp-validation-for="Input.Email" class="mt-2 text-danger text-sm"></span>
                    </div>
                    <div>
                        <label asp-for="Input.Password" class="@Css.LabelClasses"></label>
                        <div class="mt-1 relative">
                            <input asp-for="Input.Password" class="@Css.InputText" autocomplete="new-password" aria-required="true" placeholder="Please enter your password." />
                        </div>
                        <span asp-validation-for="Input.Password" class="mt-2 text-danger text-sm"></span>
                    </div>
                    <div>
                        <label asp-for="Input.ConfirmPassword" class="@Css.LabelClasses"></label>
                        <div class="mt-1 relative">
                            <input asp-for="Input.ConfirmPassword" class="@Css.InputText" autocomplete="new-password" aria-required="true" placeholder="Please confirm your password." />
                        </div>
                        <span asp-validation-for="Input.ConfirmPassword" class="mt-2 text-danger text-sm"></span>
                    </div>
                    <div>
                        <button type="submit" class="@Css.PrimaryButton">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
